body {
  font-family: "Arial", "Meiryo",sans-serif;
  text-align: center;
}
html{
    font-size: 20px;
}
.blue{color: skyblue;}
.pink{color: rgb(255, 192, 203);}

h1{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  text-shadow: 2px 3px 3px rgba(138, 12, 12, 0.4);
  letter-spacing: 1.2em;
}
#basic > p{
    font-weight: bold;
}
h1 {
            border-bottom: 3px solid rgb(115, 115, 114);
        }
